* {
    background: #BBDEFB;
}
#centerBlock {
    min-width: 100%;
    text-align: center;
    font-size: 1.2em;
    position: absolute;;
    top: 35%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
}
.skills {
    position: absolute;
    bottom: 10px;
    min-width: 100%;
    text-align: center;
}
.skills h3 {
    font-size: 1.25em;
    margin: 5px 0;
}
.skills ul li {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    background: #4CAF50;
    color: #FAFAFA;
    font-size: 1em;
    padding: 8px;
}
.trc {
    float: right;
    min-width: 90px;
    max-width: 90px;
    width: 90px;
    margin: 10px 50px;
}
.trc p {
    margin: 10%;
    display: block;
    min-width: 100%;
    max-width: 100%;
    font-size: 1em;
}
