* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
}
.fixed-top {
    min-width: 100%;
    position: absolute;
    top: 0;
    background: #2196F3;
    padding: 10px;
}
.fixed-top a{
    text-decoration: none;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 1.5em;
}
.fixed-top a:hover {
    font-size: 1.6em;
}
.body {
    margin-top: 40px;
}
.info {
    margin: 0;
    border:0;
    background: #BBDEFB;
    padding: 10%;
    color: #111;
    font-weight: bold;
    font-size: 1.75em;
}
.info a {
    color: #111;
}
@media (max-width: 767px){
    .info {
        font-size: 1.25em;
    }
}
