
.bg-light {
    background-color: #232a2b!important;
    /*color: #fff!important;*/
}
.nav-link {
    color: #c0d8d2!important;
}
.nav-link:hover {
    color: #9ff9e3!important;
}
.navbar-brand{
    color: #c0d8d2!important;
}
.navbar-brand:hover {
    color: #9ff9e3!important;
}
.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.title-holder{
    line-height: 1px;
    font-size: 12px;
}
.title-holder h6{
    line-height: 10px;
    font-size: 12px;
}
.about-me {
    /* padding: 3em;
    padding-left: 15%;
    padding-right: 15%; */
    /* text-align:center; */
    font-size: 15px;
}

.name-holder {
        /* text-align: center; */
        color: #c0d8d2;
}

.title-holder {
    /* text-align: center; */
}
.about-me {
    /* padding-left: 15%; */
    /* padding-right: 15%; */
    /* text-align: center; */
}
.card {
    padding: 0;
    background-color: #c0d8d2;
    /*padding-top: 20px;*/
    padding-bottom: 10px;
    /*margin: 5px;*/
    /*border: none;*/
    /*width: 95%;*/
    font-size: 13px;
    color: #232a2b;
}
.card a {
    padding: 10px;
    text-decoration: none;
    color: #232a2b;
}
.card:hover {
    background-color: #678aa7;
}
.card:hover a {
    color: #fff;
}
.card:hover .tool-item{
    background-color: #c0d8d2;
    color: #232a2b;
}
.card img {
    width: 100%;
}
.card h5 {
    text-align: center;
}
.tool {
    font-size: 11px;
}
.tool-item {
    padding: 8px;
    border-radius: 15px;
    background-color: #678aa7;
    color: #fff;
    width: 60px!important;
    height: 20px;
    /*font-size: 11px;*/
}
.footer {;
    bottom: 0;
    margin:0;
    background-color: #232a2b;
    color: #fff;
    border-radius: 0;
    border-top:1px solid #c0d8d2;
    padding-top:20px;
    padding-right:10px;
    padding-left:10px;
    margin: 0;
}
#fl {
    text-align: left;
    font-size: 15px;
    margin-top: 12px;
}
#fr {
    text-align: right;
    /*font-size: 11px;*/
    font-size: 32px;
}
.footer-link {
    color: #c0d8d2;
}
.footer-link:hover {
    color: #9ff9e3;
}
@media(max-width:767px){
    /* .about-me {
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
    } */
    .card {
        margin: 5px;
    }

}
@media(min-width:768px){
    /*.name-holder {
        text-align: left;
    }*/
    .card {
        margin: 5px;
    }
    .card {
        margin-left: 0;
        margin-right: 0;
    }
    .row {
        padding: 0;
    }

}
@media(min-width:992px){
    /*.name-holder {
        text-align: left;
    }*/

}
@media(min-width:1200px){
    /*.name-holder {
        text-align: left;
    }
*/
}
.custom-container {
    padding: 30px;
    margin: 0px;
}
.header {
    background-color:#232a2b;
    color:#fff;
    border-radius: 0;
    border-top:1px solid #c0d8d2;
    padding:20px; margin: 0
}

.project {
    background-color: #c0d8d2;
    color: #232a2b;
    padding: 20px;
    margin: 20px;
}

.award {
    background-color: #232a2b;
    color: #c0d8d2;
    padding: 20px;
    margin: 20px;
}